<IfModule dir_module>
    DirectoryIndex index.shtml
</IfModule> 
<IfModule rewrite_module>
    RewriteEngine On
    RewriteRule ^index\.html$ index.shtml [L,NC]
    RewriteRule ^about$ about.shtml [L,NC]
    RewriteRule ^services$ services.shtml [L,NC]
    RewriteRule ^solutions$ solutions.shtml [L,NC]
    RewriteRule ^privacy$ privacy.shtml [L,NC]
    RewriteRule ^contactus$ sendmail.php [L,NC]
</IfModule>